* {
    box-sizing: border-box;
    font-family: 'Pretendard';
}

body {
    background-color: #f7f9fc;
    max-width: 1980px;
    min-width: 576px;
}

h5, p {
    margin: 0px;
}

i {
    color: #6fbaf8;
    font-size: x-small;
    margin-top: 3px;
}

.content-xs {
    font-size: 12px;
}

.content-s {
    font-size: 14px;
}

.content-m {
    font-size: 16px;
}

.content-l {
    font-size: 20px;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 50%;
}

.white-box {
    background-color: white;
    border: 1px solid rgb(224, 224, 224, 0.5);
    border-radius: 10px;
}

.media-object {
    display: flex;
    gap: 10px;
}

.img {
    width: 100%;
}

.pf-way {
    width: 40%;
    
}

.pf-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    gap: 5px;
}

.pf-button {
    width: 100px;
    background-color: #6fbaf8;
    color: white;
    margin-top: 5px;
    padding: 7px;
    border: none;
    border-radius: 5px;
}

.way-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info {
    gap: 10px;
}

.capsule {
    gap: 10px;
}
.phills {
    width: 100%;
    padding: 3px 10px 3px 10px;
    border: 1px solid rgb(224, 224, 224, 0.7);
    border-radius: 18px;
}

.icon-big {
    font-size: 72px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue {
    color: #6fbaf8;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    color: #6fbaf8;
}