* {
    box-sizing: border-box;
    font-family: 'Pretendard';
}

body {
    background-color: #f7f9fc;
    /* margin: auto; */
    min-width: 576px;
    max-width: 1980px;
}

h5, p {
    margin: 0px;
}



.make-blue {
    color: #6fbaf8;    
}

.content-xs {
    font-size: 12px;
}

.content-s {
    font-size: 14px;
}

.content-m {
    font-size: 16px;
}

.content-l {
    font-size: 20px;
}

.content-xl {
    font-size: 24px;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-130 {
    width: 114px;
}


.gap-20 {
    gap: 20px;
}

.nav-under {
    border-bottom: 1px #dddddd;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    color: #6fbaf8;
}

.white-box {
    background-color: white;
    box-shadow: 1px 1px 2px gainsboro;
    border-radius: 5px;
}

.way-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.detailedInfo {
    width: 100%;
}

.pf-btn {
    width: 130px;
    background-color: #6fbaf8;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 20px 3px 20px;
}

.capsule {
    gap: 10px;
}
.phills {
    width: 100%;
    text-align: center;
    padding: 2px 7px 2px 7px;
    border: 1px solid rgb(224, 224, 224, 0.7);
    border-radius: 18px;
}

.icon-big {
    font-size: 72px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


@media screen and (min-width: 768px) {
    .detailedInfo {
        border-left: 2px solid rgb(224, 224, 224, 0.7);
    }
}