.box {
    width: 600px;
    height: auto; /*요소 크기에 따라 다르게*/

    margin-left: auto;
    margin-right: auto;
}

.navbar {
    display: flex; /* flexbox를 사용해 정렬 */
    justify-content: space-between; /* 양쪽 끝 정렬 */
    padding: 0; /* 여백 제거 */
    margin: 0; /* 여백 제거 */
    list-style: none; /* 불릿 제거 */
}


.navbar a {
    font-family : 'Pretendard';
    font-size: 16px;
    text-decoration: none; /*링크 밑줄 없어짐*/
    
}



.navbar li {
    display: inline;
    justify-content: space-between;
    margin: 20px;
}

.container {
    width: 100%;
    height: 200px;
    font-family: 'Pretendard';
    background-color: #ebebeb;
}

.content {
    width: 70%;
    height: 100%;
    float: left;
}

.userInfo {
    width: 100%;
    height: 30%;
}


.imageBox {
    width: 30%;
    height: 100%;
    float: left;
}

.image {
    width: 100%;
    height: 100%;
}


.profile {
    width: 15%;
    height: 100%;
    float: left;
}

.name {
    width: 85%;
    height: 100%;
    float: left;
    line-height: 50%;
}

.blogContent {
    padding: 10px;
}

.title {
    font-size: 16px;
    line-height: 50%;
}

.postContent {
    font-size: 14px;
}